.ipynb_checkpoints/
.DS_store
__pycache__/

# ignore output contents
**.csv
**.xlsx

# But not these files...
!**Private_resale_prices_2020-10-18.xlsx
!**HDB_resale_prices_2020-10-14.xlsx



# debug
*.log


